  <div class="login panel panel-default col-md-4 col-md-offset-4 animated fadeIn">
    <div class="panel-heading">
      <h1 class="panel-title">Log In</h1>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-inline"}) do |f| %>
        <div class="form-group">
          <%= f.label :email, :class=>'sr-only'%><br />
          <%= f.text_field :email, :class=>'form-control', :placeholder=>"Email" %>
        </div>

        <div class="form-group">
          <%= f.label :password, :class=>'sr-only' %><br />
          <%= f.password_field :password, autocomplete: "off", :class=>'form-control', :placeholder=>"Password" %>
        </div>
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <div class="actions">
        <%= f.submit "Log in" %>
         
         </div> 
      <% end -%> 
      <%= link_to "Signup", "/users/sign_up" %> 
    </div>
  </div>
  <% end %>
