<div class="users_show panel panel-primary col-md-2 col-md-offset-1">
	<div class="panel-heading">
		<%= @user.first_name %> <%= @user.last_name %><br />
		<%= @user.username %>
	</div>
	<div class="panel-body">
	<div>
	<%= image_tag @user.photo_url, size:"200x200" %>
	</div>
	</div>
</div>

<p>
	<% @user.products.each do |product| %>
	<%= product.title %>
	<% end %>
</p>
