<div class="product_head panel panel-default col-md-10 col-md-offset-1">
  <div class="panel-body">
    All Products
  </div>
</div>
<div class="product_button input-group col-md-3 col-md-offset-5 ">
<%= link_to 'Add Product to Database', new_product_path, :class=>"btn btn-default navbar-btn" %>

</div>
<div class="products_container col-md-10 col-md-offset-1">
  <table class="table table-hover">
  <tr>
  <th>Product</th>
  <th>Price</th>
  <th>Link to Product</th>
  <% if user_signed_in? %>
  <th>Add Product</th>
  <% end %>
  </tr>
    <% @products.each do |p| %>
    <tr>
    <td><%= p.title %><br/>
    <%= image_tag p.photo, size: "100x100" %></td>
    <td><%= p.price %></td>
    <td><%= button_to "Link to Product", p.product_url, :class=>"product_url btn btn-default navbar-btn " %></td>
    <% if user_signed_in? && !current_user.products.include?(p) %>
    <td><%= link_to '+ Add Product', "/products/#{p.id}/add", :class=>" add btn btn-default navbar-btn", data: { confirm: 'Are you sure?' }  %></td>
    </tr>
    <% else %>
    <td>Already in Your Wishlist</td>
    <% end %>

    <% end %>
    </table>
</div>

