
<div class="login panel panel-default col-md-4 col-md-offset-4 animated fadeIn">
<p id="notice"><%= notice %></p>

<div class="product_add panel-body">
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Product url:</strong>
  <%= @product.product_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
